<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hisenKing的日志</title>
<link type="text/css" href="{{ site:url }}/css/style.css" rel="stylesheet" />
</head>

<body>
<div id="top">
	<div class="head"><a href="{{ site:url }}"><img src="{{ site:url }}/images/logo.gif" /></a></div>
    <div class="menu">
    	<ul><li><img src="{{ site:url }}/images/home.gif" width="39" height="33" /></li><li ><a href="{{ site:url }}/aboutme/me.html" class="about">关于我</a></li></ul>
    </div>
</div>
    {{ content }}
<div id="foot">
	<div class="foot_msg">
        Copyright © 2011-2013 <a href="http://www.laoniangke.com">HisenKing</a><br />
        Theme by NeoEase. Valid XHTML 1.1 and CSS 3.
    </div>
</div>
</body>
</html>